body {
    background-color: rgb(255, 215, 238);
	text-align: center;
	color: rgb(155, 127, 143);
    font-family: Arial, Helvetica, sans-serif;
}

table {
	margin: 50px auto;
	border: 1px solid rgb(155, 127, 143);
}

td {
    width: 40px;
    height: 40px; 
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
	border: 2px solid #ffb6c1;
    background-color: #ffe4e1; 
  }

  td:hover {
    background-color: #ffc0cb; 
  }

.cell {
	width: 40px;
	height: 40px;
	font-size: 1.5em;
}
.restart-btn {
      border: none;       
      background: none;   
      cursor: pointer;   
      padding: 0;         
    }

.mark {
    background-color: rgb(255, 215, 238);;
}
